<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :number %><br>
    <%= f.text_field :number, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :origin %><br>
    <%= f.text_field :origin, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :destination %><br>
    <%= f.text_field :destination, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.datetime_select :date, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :airplane_id %><br>
    <%= f.collection_select(:airplane_id, @airplanes, :id, :name, {}, {:class=>"form-control"}) %>
  </div>
  <div class="actions">
    <%= f.submit :class=> "btn btn-warning", id: "new-flight-create" %>
  </div>
<% end %>
