<div class="container">

  <div class="row">

    <div id="table" class='col-md-7'>
      <table class="table table-striped table-condensed">
        <h1><strong>Avaliable Flights</strong></h1>
        <hr></hr>
        <thead>
          <tr>
            <th>Flight Number</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Date</th>
            <th>Plane Name</th>
            <% if policy(@flights).create? %>
            <th></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <% @flights.each do |flight| %>
          <tr>
            <td><%= link_to flight.number, flight %></td>
            <td><%= flight.origin %></td>
            <td><%= flight.destination %></td>
            <td><%= flight.date %></td>
            <td><%= flight.airplane.name %></td>
            <% if policy(@flights).create? %>
            <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-warning" %></td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class='col-md-5'>
      <% if policy(@flights).create? %>
      <%= link_to 'New Flight', "#new" , id: 'new-flight', :class => "btn btn-default" %>
      <% end %>
      <div class="form">
        <%= render 'form' %>
      </div>
    </div>
  </div>

  <script>
  $('.form').hide();
  $(document).ready();
  $('#new-flight').on('click', function(){
    $('.form').toggle();
  })
  $('#new-flight-create').on('click', function(){
    $('.table').show();
  })

  </script>
