<p id="notice"><%= notice %></p>

<div class="row">
  
<div class="col-md-6">
  <div class="information">
  <p><strong>Number:</strong><%= @flight.number %></p>
  <p><strong>Origin:</strong><%= @flight.origin %></p>
  <p><strong>Destination:</strong><%= @flight.destination %></p>
  <p><strong>Date:</strong><%= @flight.date %></p>
  <p><strong>Plane:</strong><%= @flight.airplane.name %></p>
  <p><strong>Rows:</strong><span class="airplane-row"><%= @flight.airplane.rows %></span></p>
  <p><strong>Column:</strong><span class="airplane-column"><%= @flight.airplane.columns%></span></p>
</div>


  <div class="seat-list">
    
  </div>
</div>

<div class="col-md-6">
   <h4>current selection</h4>   
  <div id="reserve">
    

  </div>




</div>




</div>
    
</div>


  <script>
    $(document).ready(function() {
      App.seats = new App.Seats();
      App.seats.reset(<%= raw @flight.seats.order(:row, :column).to_json %>);

      var columns = parseInt($(".airplane-column").html());

      App.seats.each(function(seat){
        //create
        var seatItemView = new App.SeatItemView({model: seat})
        //render
        var html = seatItemView.render().el;        
        //attach
        $(".seat-list").append(html);
        
        if (seat.attributes.column === columns){
          $(".seat-list").append("</br>");
        }

      });

      //App.router = new App.Router();
      //Backbone.history.start(); 

    });
  </script>