<%= form_for(@ariplane) do |f| %>
  <% if @ariplane.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ariplane.errors.count, "error") %> prohibited this ariplane from being saved:</h2>

      <ul>
      <% @ariplane.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :rows %><br>
    <%= f.number_field :rows %>
  </div>
  <div class="field">
    <%= f.label :columns %><br>
    <%= f.text_field :columns %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
