<h1>Listing ariplanes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rows</th>
      <th>Columns</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ariplanes.each do |ariplane| %>
      <tr>
        <td><%= ariplane.name %></td>
        <td><%= ariplane.rows %></td>
        <td><%= ariplane.columns %></td>
        <td><%= link_to 'Show', ariplane %></td>
        <td><%= link_to 'Edit', edit_ariplane_path(ariplane) %></td>
        <td><%= link_to 'Destroy', ariplane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ariplane', new_ariplane_path %>
